@import '../../Styles/_variables.scss';
@import '../../Styles/_base';
@import '../../Styles/index';

.AuthName{
  display: flex;
  gap: 1em;
 &__input {
  input{
    width: 100%;
  }
 }
}

.AuthField{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}


.btn {
  padding: 0.4em 6em;
  transition: $Transition--duration;
  &:hover {
    background-color: black;
    color: white;
    transition: $Transition--duration;
    border: 1px solid transparent;
  }
}


.Register h1{
  margin: 1em auto 0.5em !important;
}

@media (max-width: 850px){
.Register h1{
  margin: 2em auto 0.5em !important;
}
}

@media (max-width: 450px) {
  .AuthName{
    flex-direction: column;
    gap: 0;
  }
}


