@import '../../Styles/_variables.scss';
@import '../../Styles/_base';
@import '../../Styles/index';

.InputField__password {
  background-color: transparent;
  border: transparent;
}


.ShowEye {
  position: absolute;
  right: 10px;
  top: 12px;
  color: $grey;
  opacity: 1;
}

.HideEye{
  opacity: 0;
}

